body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

img {
  width: 200px;
  height: 130px;
}

.link {
  margin-bottom: 10px;
}

.oneCountry {
  padding: 10px;
  border: solid black 2px;
  display: inline-block;
  width: 30%;
  height: 275px;
  margin: 5px;
  text-align: center;
  vertical-align: top;
}

input {
  margin-right: 10px;
}

#addCountry, #editCountry {
  margin-top: 10px;
  background-color: #008000;
  color: white;
  border: solid black 1px;
  border-radius: 3px;
  height: 25px;
}

#deleteCountry {
  margin-top: 10px;
  background-color: #a32924;
  color: white;
  border: solid black 1px;
  border-radius: 3px;
  height: 25px;
}
